/*Begin your code here*/

/*Requirement 1*/
body{
  margin: 0;
  padding: 0;
  font-size: 16pt;
  font-family: "Raleway", sans-serif;
  background-image: url('../images/concrete_seamless.png'); 
}

/*Requirement 2*/
header{
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Requirement 3*/
.nav_links{
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Requirement 4*/
.price{
    min-height: 500px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/*Requirement 5*/
.package {
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

/*Requirement 6*/
.package header {
  background: #288080;
  border: 2px solid #45ADAD;
  padding: 20px 0;
  border-radius: 7px 7px 0 0;
}

/*Requirement 7*/
.gallery{
  min-height: 600px;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Requirement 8*/
.gallery img{
  border: 10px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}

/*Requirement 9*/
#logo{
   width: 25px;
   opacity: 0;
   -webkit-animation-name: logo_grow;
           animation-name: logo_grow;
   -webkit-animation-duration: 15s;
           animation-duration: 15s;
   -webkit-animation-fill-mode: forwards;
           animation-fill-mode: forwards;
}

/*Keyframes for animation*/
@-webkit-keyframes logo_grow{
  from {width: 25px; opacity: 0;} 
  to {width: 420px; opacity: 1;}
}

@keyframes logo_grow {
  from {width: 25px; opacity: 0;} 
  to {width: 420px; opacity: 1;}
} 

@media screen and (min-width: 850px){
  /*Requirement 10*/
  body header{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  /*Requirement 10*/
  .nav_links{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  /* WHY IS L CARD A DIFF SIZE????*/
  /*Requirement 11*/
  .package {
    -ms-flex-preferred-size: 230px;
        flex-basis: 230px;
  } 
}

/*Requirement 12*/
/*Add media query to handle reduced-motion*/
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
    }
  .skip a{
    -webkit-transition: none; 
    -o-transition: none; 
    transition: none;
    }
  }

@media print { 
  /*Requirement 13*/
  body {
    background-image: none;
  }

  /*Requirement 14*/
  nav {
    width: 100%;
  }

  /*Requirement 15*/
  .nav_links {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  /*Requirement 16*/
  .price {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  /*Requirement 17*/
  .package {
    border: 2px solid #45ADAD;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }

  /*Requirement 18*/
  #gallery, .gallery {
    display: none;
  }
}

